@{
    ViewData["Title"] = "Index";
}


<div align="center">
    <h2 class="text-info">List of managers</h2>
    <div>
        <table id="managersContainer" width="50%">
        </table>
    </div>
    <div class="btn_filter_container">
        <div class="btn_filter">
            <button style="width:20%" id="btn_filterManagerByName" type="button" class="btn btn-light">Filter by name</button>
            <input style="width:20%" id="inp_filterManagerByName" class="btn btn-light" />
        </div>
        <div class="btn_filter">
            <button style="width:20%" id="btn_filterManagerBySecondName" type="button" class="btn btn-light">Filter by second name</button>
            <input style="width:20%" id="inp_filterManagerBySecondName" class="btn btn-light" />
        </div>
        <div class="btn_filter">
            <button style="width:20%" id="btn_filterByCountBuyers" type="button" class="btn btn-light">Filter by count buyers</button>
            <input style="width:20%" id="inp_filterByCountBuyers" class="btn btn-light" />
        </div>
        <div>
            <button id="btn_reset" class="btn btn-light">Reset</button>
        </div>
    </div>
</div>



