@{
    ViewData["Title"] = "Index";
}


<div align="center">
    <h2 class="text-info">List of buyings</h2>
    <div>
        <table id="buyingsContainer" width="80%">
        </table>
    </div>
    <div class="btn_filter_container">
        <div class="btn_filter">
            <button style="width:25%" id="btn_filterBuyingsByManager" type="button" class="btn btn-light">Filter by manager second name</button>
            <input style="width:20%" id="inp_filterBuyingsByManager" class="btn btn-light" />
        </div>
        <div class="btn_filter">
            <button style="width:25%" id="btn_filterBuyingsByBuyer" type="button" class="btn btn-light">Filter by buyer name</button>
            <input style="width:20%" id="inp_filterBuyingsByBuyer" class="btn btn-light" />
        </div>
        <div class="btn_filter">
            <button style="width:25%" id="btn_filterBuyingsByProduct" type="button" class="btn btn-light">Filter by product name</button>
            <input style="width:20%" id="inp_filterBuyingsByProduct" class="btn btn-light" />
        </div>
        <div class="btn_filter">
            <button style="width:25%" id="btn_filterBuyingsByDate" type="button" class="btn btn-light">Filter by date(dd.mm.yyyy)</button>
            <input style="width:20%" id="inp_filterBuyingsByDate" class="btn btn-light" />
        </div>
        <div class="btn_filter">
            <button style="width:25%" id="btn_filterBuyingsByCost" type="button" class="btn btn-light">Filter by cost</button>
            <input style="width:20%" id="inp_filterBuyingsByCost" class="btn btn-light" />
        </div>
        <div>
            <button id="btn_reset" class="btn btn-light">Reset</button>
        </div>
    </div>
</div>




