<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="Test" value="..\..\..\..\Test.txt" />
		<add key="PathRead" value="..\..\..\..\The-Adventures-of-Tom-Sawyer.txt" />
		<add key="QuestionableSentences" value="..\..\..\..\QuestionableSentences.txt" />
		<add key="String" value="..\..\..\..\String.txt" />
		<add key="SentencesOrderByTheNumberOfWords" value="..\..\..\..\SentencesOrderByTheNumberOfWords.txt" />
		<add key="WordsSetLengthByQuestionableSentences" value="..\..\..\..\WordsSetLengthByQuestionableSentences.txt" />
		<add key="TextModelWithoutWordsOfSetLengthWithСonsonantLetter" value="..\..\..\..\TextModelWithoutWordsOfSetLengthWithСonsonantLetter.txt" />
		<add key="TextModel" value="..\..\..\..\TextModel.txt" />
	</appSettings>
</configuration>