
@model SalesWebService.Models.Products.ProductsCreateEditViewModel
@{
    ViewBag.Title = "Add product";
}

<form asp-action="Create" asp-controller="Products">
    <div asp-validation-summary="All" class="btn-dark"></div>
    <div class="form-group btn-light">
        <label asp-for="Name">Name</label>
        <input type="text" asp-for="Name" class="form-control" />
        <span asp-validation-for="Name"></span>
    </div>
    <div class="form-group btn-light">
        <label asp-for="Cost">Cost</label>
        <input type="number" asp-for="Cost" class="form-control" />
        <span asp-validation-for="Cost"></span>
    </div>
    <div>
        <input type="submit" value="Add" class="btn btn-info" />
    </div>
</form>
@section scripts{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}