@model IEnumerable<SalesWebService.Models.Buyers.BuyersIndexViewModel>

<table width="50%">
    <thead>
        <tr>
            <td><h4 class="text-info">FullName</h4></td>
            <td><h4 class="text-info">CountBuyings</h4></td>
            <td> </td>
            <td> </td>

        </tr>
    </thead>
    <tbody>
        @foreach (var buyer in Model)
        {
            <tr>
                <td>@buyer.Buyer.FullName</td>
                <td align="center" width="20%">@buyer.CountBuyings</td>
                <td>
                    <a class="btn btn-light" asp-controller="Buyers" asp-action="Edit" asp-route-id="@buyer.Buyer.Id">Edit</a>
                </td>
                <td>
                    <form asp-action="Delete" asp-route-id="@buyer.Buyer.Id" method="post">
                        <button type="submit" class="btn btn-danger">
                            Delete
                        </button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
<a class="btn btn-light" asp-controller="Buyers" asp-action="Create">Add Buyer</a>

