@model SalesWebService.Models.Buyers.BuyersCreateEditViewModel
@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>
<form asp-action="Edit" asp-controller="Buyers">
    <div asp-validation-summary="All" class="btn-dark"></div>
    <div class="form-group">
        <input type="hidden" asp-for="Id" />
    </div>
    <div class="form-group">
        <h2>Currently Full Name: @Model.FullName </h2>
    </div>
    <div class="form-group">
        <label asp-for="FullName">FullName</label>
        <input type="text" asp-for="FullName" class="form-control" />
        <span asp-validation-for="FullName"></span>
    </div>

    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-light" />
    </div>
</form>
@section scripts{

    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}