@{
    ViewData["Title"] = "Index";
}

<h2 class="text-info">List of buyers</h2>
<div>
    <table id="buyersContainer" width="50%">
    </table>
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/buyers.js"></script>

